body {
	background-color: #f0f0f0;
	text-align: center;
}

#allwrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contentWrapper {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formWrapper {
	width: 50%;
	border: 1px solid black;
	text-align: left;
	padding-left: 10px;
	background-color: white;
}
label,
input {
	margin-left: 10px;
	margin-bottom: 10px;
}

#topText {
	margin-left: 3em;
}

input {
	width: 50%;
}

#output {
	display: flex;
	flex-direction: column-reverse;
	width: 1000px;
	/* grid-template: 1fr / 1fr;
	place-items: center; */
}

.memeWrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.meme {
	position: relative;
	height: auto;
	width: auto;
	max-width: 1000px;
	max-height: 1000px;
	margin: 5rem 0 10rem 0;
	border: 1px solid grey;
	text-align: center;
}
img {
	/*   position: relative;
    left: 50%; */
	height: auto;
	width: auto;
	max-width: 1000px;
	max-height: 1000px;
}

p {
	font-family: impact;
	color: white;
	text-shadow: -1px 2px 2px #000, 1px 2px 2px #000, 2px -1px 0 #000, -2px -2px 1px #000;
}

.topText {
	position: absolute;
	text-align: center;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: auto;
}

.bottomText {
	position: absolute;
	text-align: center;
	bottom: 15%;
	right: 50%;
	transform: translate(50%, 50%);
	height: auto;
	width: auto;
}

.delete {
	position: absolute;
	bottom: -5%;
	right: 0;
	width: 100px;
	height: 25px;
	font-size: 17px;
}

#submit {
	background-color: #00bff3;
	width: 100px;
	height: 25px;
	font-size: 17px;
	margin-bottom: 10px;
}
